@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
body{
  display: flex;
  flex-direction: column;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding:2rem 0 0 0;
  color:#444;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}
.container h1{
  font-family: "Rampart One", sans-serif;
  font-size: 2.5rem;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:.3rem;
  position: relative;
}
.cancel{
  position: absolute;
  top:8%;
  right: 8%;
  width: 1.7rem;
  height: 1.7rem;
  font-weight: 600;
  background: none;
  font-size: 1.3rem;
  color:#518f8b;
}
.cancel:hover{
  font-size: 1.35rem;
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:3rem;
  padding:2rem 5rem;
  background-color: #f8f3f3;
  border-radius: 5px;
  box-shadow: -5px -5px 15px rgb(235, 235, 235, 0.9);

}
.loginForm form{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.loginForm input{
  padding:.6rem;
  border: none;
}
.loginForm button:hover,
.logout:hover{
  background-color: #66a39f;
}
.sortbtn{
  background-color:#003246;
}
.togglableContent button{
  background-color: antiquewhite;
  color:#444
}

.remove, .togglebtn, .sortbtn, .togglableContent button{
  border-radius: 5px;
}
.togglebtn, .sortbtn, .logout, .loginbtn, .remove{
  padding:1rem;
}

.remove{
  background-color: rgb(93, 93, 249);
  box-sizing:border-box;

}

.togglebtn{
  background-color: #0387B1;
}

.mainpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}

.logout{
  position: absolute;
  right: 10%;
  top:10%;
}
.loginbtn, .logout, .loginForm button{
  background-color: #518f8b;

}

.notification {
  background-color: green;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 0;
  border: 5px solid green;
  background-color: #eceaea;
  border-radius: 1.2rem;
}

.error {
  color: rgb(179, 20, 20);
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 0;
  border: 5px solid rgb(179, 20, 20);
  background-color: #eceaea;
  border-radius: 1.2rem;
}

.loggedin {
  display: flex;
}

button{
  cursor: pointer;
  padding:.5rem;
  border:none;
  color:#eceaea
}
.footer{
  display: flex;
  flex-direction: column;
  gap:1.3rem;
  justify-content: center;
  align-items: center;
  background-color: #444;
  margin-top: auto;
  color:#fff;
  width: 100%;
  border-radius:5px;
  padding:1rem;

}
.footer ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0;
}
.navbar{
  font-size:1.2rem;
  width: 50%;
}
.social{
  font-size: 1rem;
  width: 10%;
}

.togglableContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
}
.mainpage ul{
  display: flex;
  flex-direction: column;
  padding:5rem;
  justify-content: center;
  width: 50rem;

}
.blog{
  border-radius: 10px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color:#fff;
  background-color: rgb(0, 50, 70,.6);
  
}
.buttons{
  display: flex;
  align-items: center;
  gap:.6rem;
}
.details{
  border-radius: 5px;
  padding:.3rem 1rem;
  box-shadow: -5px 5px 15px rgb(93, 93, 249, .7);
}
