@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #444;
  min-height: 100vh;

  /* background-color: #f8f3f3; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
/* .app div{
  flex-grow: 1;
} */
.blogdetails{
  flex-grow: 1;
  width: 90%;
}
.blogdetails h2{
  text-align: center;
  margin-top: 1.2rem;
}
.userInfo{
  flex-grow:1;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  
}
.likebtn{
  color:#eceaea;
  background-color: #196804;
  border-radius: 5px;
  padding:.3rem .5rem;
}
.likebtn:hover{
  color:#196804;
  background-color: #eceaea;
  border-radius: 5px;
  padding:.3rem .5rem;
}
.commentcontainer{
  padding:3rem;  
}
.commentcontainer form{
  background-color: #ede9e9;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  width: 100%;
}
.commentInput{
  width: 60%;
}
.commentInput input{
  padding:5px;
  border: none;
  border-radius: .2rem;
  width: 100%;
  
}
.addComment{
  background-color: rgba(214, 31, 104, 0.92);
  border-radius: .2rem;
}
.addComment:hover{
  background-color: rgba(212, 60, 121, 0.92);
}
.footer{
  flex-shrink: 0;
}
.barnav{
  padding:1rem;
}

.containerdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  flex: 1;
}
.containerdiv h1 {
  font-family: 'Rampart One', sans-serif;
  font-size: 2.5rem;
  color:#414040;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  position: relative;
}
.cancel {
  position: absolute;
  top: 8%;
  right: 8%;
  width: 1.7rem;
  height: 1.7rem;
  font-weight: 600;
  background: none;
  font-size: 1.3rem;
  color: #518f8b;
}
.cancel:hover {
  font-size: 1.35rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 4rem;
  background-color: #f8f3f3;
  border-radius: 5px;
  box-shadow: -5px -5px 15px rgb(235, 235, 235, 0.9);
}

.loginForm form {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}
.loginForm input {
  padding: 0.4rem;
  border: none;
}
.loginForm button:hover,
.logout:hover {
  background-color: #66a39f;
}
.sortbtn {
  background-color: #003246;
}
.togglableContent button {
  background-color: antiquewhite;
  color: #444;
}

.remove,
.togglebtn,
.sortbtn,
.togglableContent button {
  border-radius: 5px;
}

.togglebtn,
.sortbtn,
.logout,
.loginbtn,
.remove {
  padding: .7rem;
}
.loggedin-part{
  display: flex;
  gap:1rem;
  align-items: center;
  position:absolute;
  right: 5%;
}
.link{
  font-size:1.1rem; 
}
/* .link:hover{
  color:#fde2e2;
  transition: color 0.2s;
  
} */
.remove {
  background-color: rgb(93, 93, 249);
  box-sizing: border-box;
}

.togglebtn {
  background-color: #0387b1;
}

.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* .logout {
  position: absolute;
  right: 10%;
  top: 10%;
} */
.loginbtn,
.logout,
.loginForm button {
  background-color: #518f8b;
}

.notification {
  background-color: green;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 0;
  border: 5px solid green;
  background-color: #eceaea;
  border-radius: 1.2rem;
}

.error {
  color: rgb(179, 20, 20);
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 0;
  border: 5px solid rgb(179, 20, 20);
  background-color: #eceaea;
  border-radius: 1.2rem;
}

.loggedin {
  display: flex;
}

button {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  color: #eceaea;
}
.footer ,
.barnav{
 background-color: #68828c;
}
.footer{
  flex-shrink: 0;
}

/* .footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
} */
/* .navbar {
  font-size: 1.2rem;
  width: 50%;
} */
.social {
  font-size: 1rem;
  width: 10%;
}

.togglableContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.mainpage ul {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 1rem 3rem;
  justify-content: center;
  width: 50rem;
}
.blog {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: rgb(0, 50, 70, 0.6);
}
.buttons {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.details {
  border-radius: 5px;
  padding: 0.3rem 1rem;
  box-shadow: -5px 5px 15px rgb(93, 93, 249, 0.7);
}
